<!DOCTYPE html>
<html lang="en">

    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css" rel="stylesheet">

    <h3>Input</h3>

    <form class="navbar-form navbar-top" method="post" action="">
        <div class="form-group">
            {% for field in form %}
            <div class="input-group">

                <span class="input-group-addon">{{ field.name }}</span>
                {{field(class_="form-control")}}
                <span class="input-group-addon">{{ field.label.text }}</span>
            </div>
            {% if field.errors %}
            <table class="table table-hover">
                <tr>
                    <td class="danger">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </td>
                </tr>

            </table>
            {% endif %}
            {% endfor %}
            <input type="submit" value="Compute"  class="btn btn-default"></form>
    </div>

    {% if result %}
    {{ result|safe }}
    {% endif %}
</table>
</html>
